<div class="container mat-elevation-z8">
    <form class="form">

        <h1 class="fullWidth">Inscription de Cliente</h1>
        <img class="fullWidth" src="assets/img/technicien-create.svg" alt="Help Desk - Dicas de um DEV"/>

      <section class="section">
        <mat-checkbox (click)="addPerfil(0)" class="margin" color="primary">Credenciais</mat-checkbox>
        <mat-checkbox (click)="addPerfil(1)" [checked]="true" class="margin" color="primary">Cliente</mat-checkbox>
        <mat-checkbox (click)="addPerfil(2)" class="margin" color="primary">Cliente</mat-checkbox>
      </section>

      <mat-form-field class="fullWidth" appearance="legacy">
        <mat-label>Nome</mat-label>
        <input 
            [(ngModel)]="cliente.nome"
            name="nome"
            [formControl]="nome"
            required
            matInput 
            placeholder="Ex.. fulano de tal"
            maxlength="50">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field class="fullWidth" appearance="legacy">
        <mat-label>TEL</mat-label>
        <input 
            [(ngModel)]="cliente.tel"
            name="tel"
            [formControl]="tel"
            required
            matInput 
            placeholder="Ex..000.000.000-00"
            mask="000.000.000-00">
      <mat-icon matSuffix>pin </mat-icon>
      </mat-form-field>

      <mat-form-field class="fullWidth" appearance="legacy">
        <mat-label>E-mail</mat-label>
        <input 
            [(ngModel)]="cliente.email"
            name="email"
            [formControl]="email"
            required
            matInput 
            placeholder="Ex.. fulano@mail.com">
      <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <mat-form-field class="fullWidth" appearance="legacy">
        <mat-label>Password</mat-label>
        <input 
            [(ngModel)]="cliente.password"
            name="password"
            [formControl]="password"
            required
            matInput 
            placeholder="Ex.. 1234"
            type="password">
      <mat-icon matSuffix>password</mat-icon>
      </mat-form-field>

      <button (click)="create()" [disabled]="!validaCampos()" class="fullWidth mat-elevation-z4" mat-flat-button color="primary">Inscription de</button>
      <button routerLink="../" class="fullWidth mat-elevation-z4" mat-stroked-button color="warn">Annuler</button>

      <p class="fullWidth">by George HABDELKARIM ELHALLOUMI & OMAR AITOGRAM</p>
    </form>
</div>